.mobile-header {
  height: 64px;
  width: 100%;
  border-bottom: 1px solid #32383f;
  padding: 0 16px;
  position: relative;
  z-index: 999;
}

.mobile-header__logo {
  flex: 1;
}

.mobile-header__logo-image {
  width: 121px;
}

.mobile-header__actions {
  display: flex;
  gap: 10px;
  align-items: center;
}

.mobile-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-header__actions img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.mobile-header__nav {
  list-style: none;
  height: 0;
  width: 100%;
  background-color: #1c2127;
  color: #fff;
  position: absolute;
  top: 64px;
  visibility: hidden;
  left: 0;
  transition: all ease-in-out 0.1s;
}

.mobile-header__nav--active {
  height: 248px;
  visibility: visible;
}

.mobile-header__nav-list {
  margin: 0;
  padding: 0;
}

.mobile-header__nav-item {
  height: 58px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}
